<!DOCTYPE html>
<html>
  <head>
    <title>ScoreBook</title>
    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>

  <body class = "indigo darken-1">
    <header>
      <div>
        <nav class="z-depth-5">
          <div class = "nav-wrapper container">
            <a href="/" class="brand-logo"><i>Kashima Antlers DATE ANALYSIS</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Dashboard</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div id = "main" class = "container">
      <%= yield %>
    </div>

    <footer class = "page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 offset-l6 s12">
            <h5 class="white-text">Content</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/">Dashboard</a></li>
              <li><a class="grey-text text-lighten-3" href="/about">About</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class = "footer-copyright">
        <div class = "container">
          © 2018 liberta web engineer
          <a class = "right" href = "http://www.so-net.ne.jp/antlers/" target="_blank">
            <%= image_tag 'toANT.gif', :size => "140x40" %>
          </a>
        </div>
       </div>
     </footer>
     <%= yield(:js) %>
  </body>
</html>
